:root {
  --banan-rgb: 255, 0, 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--banan-rgb));
  display: grid;
  grid-template-columns: 1fr 4fr;
}

a {
  color: inherit;
  text-decoration: none;
}

#bodylinks {
  color: blue;
  background-color: yellow;
}

#bodycontent {
  color: green;
  background-color: bisque;
}
